extends ./base.jade

block title
	title Contract #{result[0]}

block content
	.col-md-3
	.col-md-6
		.panel.panel-default.text-left(style="padding-left:2%")
			h1 #{result[0]}
			p Client:
			p Worker: 
				a(href='/profile/'+result[1]) #{result[1]}
			p Time: #{result[3]}
