doctype html
html(lang='en')
	head
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
		block title
			title Helping Hand
	body(style='padding-top: 70px')
		//Nav bar
		nav.navbar.navbar-inverse.navbar-fixed-top
			.container-fluid
				.navbar-header
					a.navbar-brand(href='/') Helping Hand
				#navbar
					ul.nav.navbar-nav
						//.active to add the selected thing
						li
							a(href='/') Home
						li
							a(href='/search') Search

						if session.user
							if session.type == 'client'
								li
									a(href='/requests') Requests
								li
									a(href='/create') Create
							else
								li
									a(href='/pending') Pending
							li
								a(href='/contracts') Contracts

					ul.nav.navbar-nav.navbar-right
						//Display Login, or profile stuff if already logged in
						if session.user
							li
								- var url = '/profile/'+session.user
								a(href=url) #{session.user}
							li
								a(href='/logout') Logout					
						else
							li
								a(href='/register') Register
							li
								a(href='/login') Login
		.container-fluid
			.text-center
				block content
					h1 Welcome to Helping Hand!
