extends ./base.jade

block title
	title Create Request

block content
	.text-left
	form(method='POST', action='/create')
		.row
			.col-md-6
				.row
					.col-md-12
						h1.text-left Create Service Request
				.row
					.col-md-8
						//title
						input.form-control.input-normal(type='text', name='title', placeholder='Title', required, autofocus)
						p
				.row
					.col-md-12
						textarea.form-control(name='description', placeholder='Description', rows='5')
						p
						input.form-control(type='text', name='address', placeholder='Address')
						p
				.row
					.col-md-6
						//Time of job
						input.form-control.input-normal(type='text', name='time', placeholder='Time', required)
						p
				.row
					.col-md-2
						button.btn.btn-primary.btn-block.btn-signin(type='submit') Submit
			.col-md-6
				.row
					.col-md-12.text-left
						h2 Workers:
						each worker in workers
							.row.col-md-12
								input(type='checkbox', name='workers', value=worker) 
								|  #{worker}