extends ./base.jade

block title
	title Register

block content
	- var messages = get_flashed_messages()
	h1 Register
	if messages
		each msg in messages
			h4
				i #{msg}
	form.form-signin(method='post', action='/register')
		.row
			.col-md-4
			.col-md-4
				input.form-control.input-normal(type='text', name='username', placeholder='Username', required, autofocus, maxlength="20")
				input.form-control.input-normal(type='email', name='email', placeholder='Email Address', required, maxlength="50")
				input.form-control.input-normal(type='number', name='phone', placeholder='Phone', maxlength="15")
				input.form-control(type='password', name='password', placeholder='Password', required, maxlength="60")
				p.text-left
					input(type='radio', name='typeuser', value='client', checked='checked')
					|    Client
				p.text-left
					input(type='radio', name='typeuser', value='worker')
					|    Worker
			.col-md-4
		.row
			.col-md-5
			.col-md-2
				button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit') Register
			.col-md-5

//Register: Username, email, password, worker/user