extends ./base.jade

block title
	title Rating

block content
	form(method='POST', action='/contracts/'+'#{id}'+'/rating')
		input(type='hidden', name='id', value=id)
		.row
			.col-md-5(style="padding-left: 2%")
				h1.text-left Leave a rating for: #{name}
				.row
					| Rating:
					input.form-control.input-normal(type='text', name='rating', placeholder='Until we get stars use this', required, autofocus)
				.row
					| Review:
					textarea.form-control(name='review', placeholder='Leave a review', rows='5')
				.row
					p
					button.btn.btn-primary.btn-block.btn-signin(type='submit') Submit