extends ./base.jade

block title
	if query
		title query
	else
		title Search Requests

block content
	form(method='post', action='/search')
		.row
			.col-md-4
			.col-md-4
				input.form-control.input-normal(type='text', name='query', placeholder='Search service requests', required, autofocus)
			.col-md-4
		.row
			.col-md-5
			.col-md-2
				p
				button.btn.btn-lg.btn-primary.btn-block.btn-signin(type='submit') Submit
			.col-md-5
		.row
			h2
		.row.col-md-12
			if results
				each res in results
					.col-md-6
						ul.list-group
							h4.list-group-item.list-group-item-info
								a(href='/requests/'+'#{res[0]}') #{res[2]}
							p.list-group-item #{res[3]}
							p.list-group-item Address: #{res[5]}