extends ./base.jade

block title
	title Requests

block content
	if requests
		each res in requests
			.col-md-6
				ul.list-group
					h4.list-group-item.list-group-item-info
						a(href='/requests/'+'#{res[0]}') #{res[2]}
					.list-group-item
						.text-center
							b Tag: 
							span.badge #{res[6]}
					p.list-group-item 
						b Address: 
						#{res[4]}
	else
		h4 No results found